:root{
    --green: hsl(162, 45% ,56%);
    --plomo:hsl(162, 2%, 56%);
    --blue: hsl(220, 85%, 57);
    --violet:hsl(88, 68%, 45%);
    --text-white: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 90%);
    --body-bg-color: hsl(180, 16%, 56%);
    --glass-bg-color: hsla(0, 0%, 100%, 0.25);
    --border-color: hsla(0, 53%, 25%, 0.25);
    --blur:blur(10px); 
    --button-hover-color: hsla(0, 0%, 0.3);
} 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: var(--body-bg-color);
    color: var(--text-light-gray);
    font-size: 16px;
    line-height: 1.5;
    overflow-x:hidden ;
    font-weight: 300;
}
body::after,
body::before{
    content: ´´;
    position: fixed;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: -1;
    filter: blur(150px);
    opacity: 0.5;
}
body::before{
    background-color: var(--blue);
    left:0;
    bottom: 0;
    transform: translate(-50%);
}


.container {
    display: flex;
    height: 700px;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 150px;
}

.info {
    background-image: url(https://cms-assets.tutsplus.com/cdn-cgi/image/width=360/uploads/users/30/posts/32533/preview_image/pre.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 25px 25px;
    width: 400%;
    opacity:0.6;
}
.submit{

    background-color: #dd7849 ;
    padding: 10px ;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 20px;
}